.vagrant
ansible.sublime*
grafana*
.#*
.DS_Store
.idea
*.pyc
.Python
bin/
include/
lib/
README.html
.projectile
*.iml
ami.version
package.version
bastionami.version
natami.version
aws/local-testing.yml
aws/local-testing-*.yml
.cache/
aws/roles/app-role
sdfe-ansible*.rpm
sdfe-release*.rpm
appinfo.properties
out/
